In [14]:
import pandas as pd

### loading data

In [15]:
hatecrime= pd.read_csv(r'C:\Users\osaig\Downloads\HateCrimeNoNA.csv')

### Checking data

In [16]:
hatecrime.head()

,Unnamed: 0,Unnamed: 0.1,State,AgencyType,Agency,RaceEthnAnc,Religion,SexualOrientation,Disability,Gender,GenderID,Q1,Q2,Q3,Q4,Population
0,0,1,Alaska,Cities,Anchorage,4.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.000000,287731.0
1,1,2,Alaska,Cities,Fairbanks,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,31493.0
2,2,3,Alaska,Cities,Kotzebue,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,3272.0
3,3,4,Alaska,Cities,North Pole,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.875839,2111.0
4,4,5,Alaska,Cities,Soldotna,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000,4756.0

### Removing columns

In [17]:
hatecrime = hatecrime.drop(['Disability','GenderID'],axis=1)

In [18]:
hatecrime.head()

,Unnamed: 0,Unnamed: 0.1,State,AgencyType,Agency,RaceEthnAnc,Religion,SexualOrientation,Gender,Q1,Q2,Q3,Q4,Population
0,0,1,Alaska,Cities,Anchorage,4.0,0.0,2.0,0.0,1.0,2.0,3.0,0.000000,287731.0
1,1,2,Alaska,Cities,Fairbanks,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,31493.0
2,2,3,Alaska,Cities,Kotzebue,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,3272.0
3,3,4,Alaska,Cities,North Pole,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.875839,2111.0
4,4,5,Alaska,Cities,Soldotna,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.000000,4756.0