In [50]:
import pandas as pd

In [51]:
HateCrime2019 = pd.read_csv("Data Files/Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_Federal_and_Agency_2019.csv")
HateCrime2019.head()

,State,Agency Type,Agency,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nidentity,1st\nquarter,2nd\nquarter,3rd\nquarter,4th\nquarter,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [52]:
USCensus2020 = pd.read_csv("Data Files/2020 US Census - State Racial Demographics.csv")
USCensus2020.head()

,State,% White,% Black,% American Indian and Alaska Native,% Asian,% Native Hawaiian and Other Pacific Islander,% Other Race,% Two or More Races,% Hispanic
0,Alaska,59.4,3.0,15.2,6.0,1.7,2.5,12.2,6.8
1,Arizona,60.4,4.7,4.5,3.6,0.2,12.6,13.9,30.7
2,Arkansas,70.2,15.1,0.9,1.7,0.5,4.5,7.1,8.5
3,California,41.2,5.7,1.6,15.4,0.4,21.2,14.6,39.4
4,Colorado,70.7,4.1,1.3,3.5,0.2,8.0,12.3,21.9

In [53]:
#Data Wrangling
#Headers need to be cleaned up (remove spaces and symbols, simplify)
HateCrime2019.rename(columns={'Agency Type' : 'AgencyType', 'Race/\nEthnicity/\nAncestry' : 'Race', 'Sexual\norientation' : 'SexualOrientation', 'Gender\nidentity' : 'GenderIdentity', '1st\nquarter' : '1stQtr', '2nd\nquarter' : '2ndQtr', '3rd\nquarter' : '3rdQtr', '4th\nquarter' : '4thQtr'}, inplace=True)
USCensus2020.rename(columns={'% White' : 'WhitePct', '% Black' : 'BlackPct', '% American Indian and Alaska Native' : 'AmerIndianOrAlaskaNativePct', '% Asian' : 'AsianPct', '% Native Hawaiian and Other Pacific Islander' : 'NativeHIandOthPacificIslePct', '% Other Race' : 'OthRacePct', '% Two or More Races' : 'TwoOrMoreRacePct', '% Hispanic' : 'HispanicPct'}, inplace=True)

In [54]:
HateCrime2019.head()

,State,AgencyType,Agency,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,1stQtr,2ndQtr,3rdQtr,4thQtr,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [55]:
USCensus2020.head()

,State,WhitePct,BlackPct,AmerIndAlaskaNativePct,AsianPct,NativeHIandOthPacificIslePct,OthRacePct,TwoOrMoreRacePct,HispanicPct
0,Alaska,59.4,3.0,15.2,6.0,1.7,2.5,12.2,6.8
1,Arizona,60.4,4.7,4.5,3.6,0.2,12.6,13.9,30.7
2,Arkansas,70.2,15.1,0.9,1.7,0.5,4.5,7.1,8.5
3,California,41.2,5.7,1.6,15.4,0.4,21.2,14.6,39.4
4,Colorado,70.7,4.1,1.3,3.5,0.2,8.0,12.3,21.9

In [19]:
USCensus2020

,State,% White,% Black,% American Indian and Alaska Native,% Asian,% Native Hawaiian and Other Pacific Islander,% Other Race,% Two or More Races,% Hispanic
0,Alaska,59.4,3.0,15.2,6.0,1.7,2.5,12.2,6.8
1,Arizona,60.4,4.7,4.5,3.6,0.2,12.6,13.9,30.7
2,Arkansas,70.2,15.1,0.9,1.7,0.5,4.5,7.1,8.5
3,California,41.2,5.7,1.6,15.4,0.4,21.2,14.6,39.4
4,Colorado,70.7,4.1,1.3,3.5,0.2,8.0,12.3,21.9

In [20]:
USCensus2020.tail()

,State,% White,% Black,% American Indian and Alaska Native,% Asian,% Native Hawaiian and Other Pacific Islander,% Other Race,% Two or More Races,% Hispanic
46,Washington,66.6,4.0,1.6,9.5,0.8,6.7,10.9,13.7
47,West Virginia,89.8,3.7,0.2,0.8,0.0,0.7,4.7,1.9
48,Wisconsin,80.4,6.4,1.0,3.0,0.0,3.1,6.1,7.6
49,Wyoming,84.7,0.9,2.4,0.9,0.1,3.5,7.5,10.2
50,United States,61.6,12.4,1.1,6.0,0.2,8.4,10.2,18.7

In [ ]:
#Since we are focusing our questions on the state level, will remove Agendy Type and Agency Columns to simplify dataset
#HateCrime2019.drop(['Agency Type'], axis=1)