In [104]:
import pandas as pd

In [112]:
HateCrime2019 = pd.read_csv("Data Files/Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_Federal_and_Agency_2019.csv")
HateCrime2019.head()

,State,Agency Type,Agency,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nidentity,1st\nquarter,2nd\nquarter,3rd\nquarter,4th\nquarter,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [113]:
USCensus2020 = pd.read_csv("Data Files/2020 US Census - State Racial Demographics.csv")
USCensus2020.head()

,State,% White,% Black,% American Indian and Alaska Native,% Asian,% Native Hawaiian and Other Pacific Islander,% Other Race,% Two or More Races,% Hispanic
0,Alaska,59.4,3.0,15.2,6.0,1.7,2.5,12.2,6.8
1,Arizona,60.4,4.7,4.5,3.6,0.2,12.6,13.9,30.7
2,Arkansas,70.2,15.1,0.9,1.7,0.5,4.5,7.1,8.5
3,California,41.2,5.7,1.6,15.4,0.4,21.2,14.6,39.4
4,Colorado,70.7,4.1,1.3,3.5,0.2,8.0,12.3,21.9

In [114]:
#Data Wrangling
#Headers need to be cleaned up (remove spaces and symbols, simplify)
HateCrime2019.rename(columns={'Agency Type' : 'AgencyType', 'Race/\nEthnicity/\nAncestry' : 'Race', 
                              'Sexual\norientation' : 'SexualOrientation', 'Gender\nidentity' : 'GenderIdentity', 
                              '1st\nquarter' : '1stQtr', '2nd\nquarter' : '2ndQtr', '3rd\nquarter' : '3rdQtr', 
                              '4th\nquarter' : '4thQtr'}, inplace=True)
USCensus2020.rename(columns={'% White' : 'WhitePct', '% Black' : 'BlackPct', '% American Indian and Alaska Native' : 
                             'AmerIndianOrAlaskaNativePct', '% Asian' : 'AsianPct', 
                             '% Native Hawaiian and Other Pacific Islander' : 'NativeHawaiiOrOtherPacificIslePct', 
                             '% Other Race' : 'OtherRacePct', '% Two or More Races' : 'TwoOrMoreRacePct', '% Hispanic' : 
                             'HispanicPct'}, inplace=True)

In [115]:
HateCrime2019.head()

,State,AgencyType,Agency,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,1stQtr,2ndQtr,3rdQtr,4thQtr,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [116]:
USCensus2020.head()

,State,WhitePct,BlackPct,AmerIndianOrAlaskaNativePct,AsianPct,NativeHawaiiOrOtherPacificIslePct,OtherRacePct,TwoOrMoreRacePct,HispanicPct
0,Alaska,59.4,3.0,15.2,6.0,1.7,2.5,12.2,6.8
1,Arizona,60.4,4.7,4.5,3.6,0.2,12.6,13.9,30.7
2,Arkansas,70.2,15.1,0.9,1.7,0.5,4.5,7.1,8.5
3,California,41.2,5.7,1.6,15.4,0.4,21.2,14.6,39.4
4,Colorado,70.7,4.1,1.3,3.5,0.2,8.0,12.3,21.9

In [118]:
#Since we are focusing our questions on the state level only, 
#we will remove the "AgencyType" and "Agency" columns to simplify the HateCrime2019 dataset.
del HateCrime2019['AgencyType']
HateCrime2019.head()

KeyError: 'AgencyType'

In [103]:
del HateCrime2019['Agency']
HateCrime2019.head()

KeyError: 'Agency'

In [101]:
#Since we are focusing our questions on the state level only,
#we will remove any rows from the "HateCrime2019" dataset where the State value is "Federal"
HateCrime2019 = HateCrime2019[HateCrime2019.State != 'Federal']

In [102]:
HateCrime2019.tail()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,1stQtr,2ndQtr,3rdQtr,4thQtr,Population
2122,Wyoming,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,32669.0
2123,Wyoming,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,17895.0
2124,Wyoming,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13963.0
2173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2174,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import numpy as np