In [316]:
import pandas as pd

In [ ]:
#Preparing data to answer the following questions:
#What are the trends in types of Hate Crimes throughout 2019?
#How does demographic makeup of a state affect types of Hate Crimes committed?
#How does demographic makeup of a state affect # of Hate Crimes committed?

In [317]:
#Called in Hate Crime dataset
HateCrime2019 = pd.read_csv("Data Files/Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_Federal_and_Agency_2019.csv")
HateCrime2019.head()

,State,Agency Type,Agency,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nidentity,1st\nquarter,2nd\nquarter,3rd\nquarter,4th\nquarter,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [318]:
#Data Wrangling
#Cleaned up headers (removed spaces and symbols, and simplified/clarified).
HateCrime2019.rename(columns={'Agency Type' : 'AgencyType', 'Race/\nEthnicity/\nAncestry' : 'Race', 
                              'Sexual\norientation' : 'SexualOrientation', 'Gender\nidentity' : 'GenderIdentity', 
                              '1st\nquarter' : '1stQtr', '2nd\nquarter' : '2ndQtr', '3rd\nquarter' : '3rdQtr', 
                              '4th\nquarter' : '4thQtr'}, inplace=True)

In [319]:
#Viewed headers to confirm code worked.
HateCrime2019.head()

,State,AgencyType,Agency,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,1stQtr,2ndQtr,3rdQtr,4thQtr,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [320]:
#Since questions are focused on the state level, breakdown according to local agency (city data) is not needed.
#Removed the "AgencyType" and "Agency" columns to simplify the "HateCrime2019" dataset, and viewing to confirm code worked.
del HateCrime2019['AgencyType']
del HateCrime2019['Agency']
HateCrime2019.head()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,1stQtr,2ndQtr,3rdQtr,4thQtr,Population
0,Alaska,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [321]:
#Questions focus on # and type of Hate Crimes and the interaction with state demographics, so the Qtr data is not necessary.
#Removed "1stQtr","2ndQtr","3rdQtr","4thQtr" columns to simplify the "HateCrime2019" dataset, and viewing to confirm code worked.
del HateCrime2019['1stQtr']
del HateCrime2019['2ndQtr']
del HateCrime2019['3rdQtr']
del HateCrime2019['4thQtr']
HateCrime2019.head()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,Population
0,Alaska,4.0,0,2.0,0.0,0.0,0.0,287731.0
1,Alaska,1.0,0,0.0,0.0,0.0,0.0,31493.0
2,Alaska,1.0,0,0.0,0.0,0.0,0.0,3272.0
3,Alaska,1.0,0,0.0,0.0,0.0,0.0,2111.0
4,Alaska,0.0,0,2.0,0.0,0.0,0.0,4756.0

In [322]:
#Need to see if there are any unique values in the State column that need to be dealt with.
HateCrime2019["State"].unique()
#This shows "Federal" and "NaN" as values in the "State" column

array(['Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida', nan,
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Federal'], dtype=object)

In [323]:
#Since questions are focused on the state level only, cannot use Federal data.
#Removed any rows from the "HateCrime2019" dataset where the State value is "Federal".
HateCrime2019 = HateCrime2019[HateCrime2019.State != 'Federal']

In [324]:
#Also appear to have NaN values in the State column - can't use those rows.
#Dropped rows missing "State" data
HateCrime2019NoNA = HateCrime2019[HateCrime2019['State'].notna()]

In [325]:
#Looked again for unique values in State column to confirm code worked.
HateCrime2019NoNA["State"].unique()

array(['Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [326]:
#Viewed tail to see how many records in dataset
HateCrime2019NoNA.tail()
#Total of 2125 records/rows

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,Population
2120,Wyoming,1.0,0,0.0,0.0,0.0,0.0,9865.0
2121,Wyoming,1.0,0,0.0,0.0,0.0,0.0,11624.0
2122,Wyoming,0.0,0,1.0,0.0,0.0,0.0,32669.0
2123,Wyoming,1.0,0,0.0,0.0,0.0,0.0,17895.0
2124,Wyoming,1.0,0,0.0,0.0,0.0,0.0,13963.0

In [327]:
#Want to see if there are any other nulls in the HateCrime2019 dataset.
HateCrime2019NoNA[HateCrime2019NoNA.isnull().any(1)]

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity,Population
26,Arkansas,1.0,0,0.0,0.0,0.0,0.0,NaN
27,Arkansas,0.0,0,1.0,0.0,0.0,0.0,NaN
200,California,10.0,1,3.0,0.0,1.0,0.0,NaN
201,California,2.0,2,0.0,0.0,0.0,0.0,NaN
202,California,1.0,0,0.0,0.0,0.0,0.0,NaN
203,California,1.0,0,0.0,0.0,0.0,0.0,NaN
204,California,1.0,0,1.0,0.0,0.0,0.0,NaN
205,California,6.0,1,1.0,1.0,0.0,0.0,NaN
206,California,3.0,1,1.0,0.0,0.0,0.0,NaN
207,California,2.0,0,0.0,0.0,0.0,2.0,NaN
208,California,0.0,0,2.0,0.0,0.0,0.0,NaN
209,California,12.0,4,6.0,1.0,0.0,1.0,NaN
210,California,0.0,1,1.0,0.0,0.0,0.0,NaN
211,California,3.0,0,1.0,0.0,0.0,0.0,NaN
212,California,0.0,1,0.0,0.0,0.0,0.0,NaN
213,California,4.0,1,0.0,0.0,0.0,0.0,NaN
214,California,6.0,0,1.0,0.0,0.0,0.0,NaN
215,California,1.0,0,0.0,0.0,0.0,0.0,NaN
216,California,0.0,0,1.0,0.0,0.0,0.0,NaN
217,California,1.0,1,0.0,0.0,0.0,0.0,NaN
218,California,1.0,0,0.0,0.0,0.0,0.0,NaN
219,California,0.0,0,1.0,0.0,0.0,0.0,NaN
220,California,0.0,0,3.0,0.0,1.0,0.0,NaN
221,California,5.0,0,0.0,0.0,0.0,0.0,NaN
222,California,1.0,0,0.0,0.0,0.0,0.0,NaN
260,Colorado,1.0,0,0.0,1.0,0.0,0.0,NaN
261,Colorado,2.0,2,0.0,2.0,0.0,0.0,NaN
262,Colorado,1.0,0,0.0,1.0,0.0,0.0,NaN
263,Colorado,0.0,1,0.0,0.0,0.0,1.0,NaN
264,Colorado,0.0,0,2.0,0.0,0.0,0.0,NaN
265,Colorado,0.0,1,1.0,0.0,0.0,0.0,NaN
266,Colorado,0.0,1,0.0,0.0,0.0,0.0,NaN
267,Colorado,1.0,0,0.0,0.0,0.0,0.0,NaN
268,Colorado,1.0,0,1.0,0.0,0.0,0.0,NaN
269,Colorado,1.0,0,0.0,0.0,0.0,2.0,NaN
270,Colorado,2.0,0,1.0,0.0,0.0,0.0,NaN
271,Colorado,1.0,0,0.0,0.0,0.0,0.0,NaN
272,Colorado,1.0,0,1.0,0.0,0.0,0.0,NaN
310,Connecticut,1.0,0,0.0,0.0,0.0,0.0,NaN
312,Connecticut,1.0,3,0.0,0.0,0.0,0.0,NaN
320,Delaware,1.0,1,1.0,0.0,0.0,0.0,NaN
321,Delaware,2.0,1,0.0,0.0,0.0,0.0,NaN
322,Delaware,0.0,0,1.0,0.0,0.0,0.0,NaN
324,District of Columbia,12.0,3,5.0,0.0,0.0,0.0,NaN
362,Florida,0.0,0,1.0,0.0,0.0,0.0,NaN
363,Florida,1.0,0,0.0,0.0,0.0,0.0,NaN
364,Florida,2.0,0,0.0,0.0,0.0,0.0,NaN
365,Florida,5.0,0,0.0,0.0,0.0,0.0,NaN
366,Florida,0.0,3,2.0,0.0,0.0,0.0,NaN
367,Florida,1.0,1,1.0,0.0,0.0,0.0,NaN
368,Florida,1.0,0,1.0,0.0,0.0,0.0,NaN
369,Florida,1.0,0,1.0,0.0,0.0,0.0,NaN
370,Florida,0.0,0,1.0,0.0,0.0,0.0,NaN
371,Florida,1.0,0,0.0,0.0,0.0,0.0,NaN
372,Florida,1.0,0,0.0,0.0,0.0,0.0,NaN
373,Florida,1.0,0,1.0,0.0,0.0,0.0,NaN
374,Florida,1.0,0,0.0,0.0,0.0,0.0,NaN
375,Florida,1.0,0,0.0,0.0,0.0,0.0,NaN
405,Georgia,0.0,1,0.0,0.0,0.0,0.0,NaN
406,Georgia,11.0,1,2.0,0.0,0.0,0.0,NaN
407,Georgia,0.0,0,1.0,0.0,0.0,0.0,NaN
408,Georgia,1.0,0,0.0,0.0,0.0,1.0,NaN
409,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
410,Georgia,2.0,0,0.0,0.0,0.0,0.0,NaN
411,Georgia,1.0,0,0.0,1.0,0.0,0.0,NaN
412,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
413,Georgia,0.0,0,0.0,0.0,1.0,0.0,NaN
414,Georgia,0.0,1,0.0,0.0,0.0,0.0,NaN
415,Georgia,0.0,0,0.0,0.0,0.0,1.0,NaN
416,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
417,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
418,Georgia,0.0,0,0.0,1.0,0.0,0.0,NaN
419,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
420,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
421,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
422,Georgia,1.0,0,0.0,0.0,1.0,0.0,NaN
423,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
424,Georgia,0.0,1,0.0,1.0,0.0,0.0,NaN
425,Georgia,1.0,0,0.0,0.0,0.0,0.0,NaN
433,Idaho,3.0,0,0.0,1.0,0.0,0.0,NaN
434,Idaho,3.0,0,0.0,0.0,0.0,0.0,NaN
435,Idaho,0.0,1,0.0,0.0,0.0,0.0,NaN
456,Illinois,1.0,0,0.0,0.0,0.0,0.0,NaN
457,Illinois,2.0,0,0.0,0.0,0.0,0.0,NaN
458,Illinois,1.0,0,0.0,0.0,0.0,0.0,NaN
475,Indiana,0.0,1,0.0,0.0,0.0,0.0,NaN
476,Indiana,1.0,0,0.0,0.0,0.0,0.0,NaN
477,Indiana,1.0,0,0.0,0.0,0.0,0.0,NaN
478,Indiana,0.0,1,0.0,0.0,0.0,0.0,NaN
479,Indiana,1.0,0,0.0,0.0,0.0,0.0,NaN
480,Indiana,1.0,0,2.0,0.0,0.0,0.0,NaN
481,Indiana,0.0,0,1.0,0.0,0.0,0.0,NaN
526,Kansas,1.0,0,0.0,0.0,0.0,0.0,NaN
527,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
528,Kansas,0.0,2,0.0,0.0,1.0,0.0,NaN
529,Kansas,1.0,0,0.0,0.0,0.0,0.0,NaN
530,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
531,Kansas,0.0,0,1.0,0.0,0.0,0.0,NaN
532,Kansas,0.0,2,0.0,0.0,0.0,0.0,NaN
533,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
534,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
535,Kansas,0.0,3,0.0,0.0,0.0,0.0,NaN
536,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
537,Kansas,0.0,1,1.0,0.0,0.0,0.0,NaN
538,Kansas,1.0,0,0.0,0.0,0.0,0.0,NaN
539,Kansas,1.0,0,0.0,0.0,0.0,0.0,NaN
540,Kansas,1.0,0,0.0,0.0,0.0,0.0,NaN
541,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
542,Kansas,0.0,1,0.0,0.0,0.0,0.0,NaN
582,Kentucky,4.0,1,3.0,0.0,1.0,0.0,NaN
583,Kentucky,0.0,0,1.0,0.0,0.0,0.0,NaN
584,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
585,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
586,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
587,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
588,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
589,Kentucky,0.0,1,1.0,0.0,0.0,0.0,NaN
590,Kentucky,2.0,0,0.0,0.0,0.0,0.0,NaN
591,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
592,Kentucky,0.0,0,1.0,0.0,0.0,0.0,NaN
593,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
594,Kentucky,2.0,0,0.0,0.0,0.0,0.0,NaN
595,Kentucky,1.0,1,0.0,0.0,0.0,0.0,NaN
596,Kentucky,0.0,0,1.0,0.0,0.0,0.0,NaN
597,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
598,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
599,Kentucky,2.0,0,0.0,0.0,0.0,0.0,NaN
600,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
601,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
602,Kentucky,2.0,0,0.0,0.0,0.0,0.0,NaN
603,Kentucky,2.0,2,0.0,0.0,0.0,0.0,NaN
604,Kentucky,1.0,0,1.0,0.0,0.0,0.0,NaN
605,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
606,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
607,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
608,Kentucky,2.0,0,0.0,0.0,0.0,1.0,NaN
609,Kentucky,1.0,0,0.0,0.0,0.0,0.0,NaN
614,Louisiana,0.0,1,0.0,0.0,0.0,0.0,NaN
615,Louisiana,1.0,0,1.0,1.0,0.0,0.0,NaN
616,Louisiana,2.0,2,2.0,0.0,0.0,0.0,NaN
617,Louisiana,0.0,1,0.0,0.0,0.0,0.0,NaN
618,Louisiana,1.0,0,0.0,0.0,0.0,0.0,NaN
619,Louisiana,0.0,1,0.0,0.0,0.0,0.0,NaN
620,Louisiana,2.0,0,0.0,0.0,0.0,0.0,NaN
629,Maine,1.0,0,0.0,0.0,0.0,0.0,NaN
630,Maine,1.0,0,0.0,0.0,0.0,0.0,NaN
635,Maryland,1.0,0,0.0,0.0,0.0,0.0,NaN
636,Maryland,1.0,0,0.0,0.0,0.0,0.0,NaN
637,Maryland,0.0,3,1.0,0.0,0.0,0.0,NaN
638,Maryland,2.0,1,5.0,0.0,0.0,0.0,NaN
639,Maryland,1.0,0,0.0,0.0,0.0,0.0,NaN
721,Massachusetts,0.0,0,1.0,0.0,0.0,0.0,NaN
722,Massachusetts,1.0,0,0.0,0.0,0.0,0.0,NaN
848,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
849,Michigan,0.0,2,0.0,0.0,0.0,0.0,NaN
850,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
851,Michigan,3.0,0,0.0,0.0,0.0,0.0,NaN
852,Michigan,3.0,1,0.0,0.0,0.0,0.0,NaN
853,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
854,Michigan,6.0,0,0.0,0.0,0.0,0.0,NaN
855,Michigan,0.0,0,1.0,0.0,0.0,0.0,NaN
856,Michigan,4.0,0,0.0,0.0,0.0,0.0,NaN
857,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
858,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
859,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
860,Michigan,2.0,1,1.0,0.0,0.0,0.0,NaN
861,Michigan,2.0,0,0.0,0.0,1.0,0.0,NaN
862,Michigan,3.0,1,0.0,0.0,0.0,0.0,NaN
863,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
864,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
865,Michigan,0.0,1,0.0,0.0,0.0,0.0,NaN
866,Michigan,1.0,0,1.0,0.0,0.0,0.0,NaN
867,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
868,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
869,Michigan,0.0,0,1.0,0.0,0.0,0.0,NaN
870,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
871,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
872,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
873,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
874,Michigan,0.0,1,0.0,0.0,0.0,0.0,NaN
875,Michigan,0.0,0,0.0,0.0,1.0,0.0,NaN
876,Michigan,3.0,1,0.0,0.0,0.0,0.0,NaN
877,Michigan,3.0,0,0.0,0.0,0.0,0.0,NaN
878,Michigan,0.0,1,0.0,0.0,0.0,0.0,NaN
879,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
880,Michigan,4.0,1,0.0,0.0,0.0,0.0,NaN
881,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
882,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
883,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
884,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
885,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
886,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
887,Michigan,4.0,2,0.0,0.0,0.0,0.0,NaN
888,Michigan,2.0,1,0.0,0.0,0.0,0.0,NaN
889,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
890,Michigan,0.0,1,0.0,0.0,0.0,0.0,NaN
891,Michigan,1.0,1,0.0,0.0,0.0,0.0,NaN
892,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
893,Michigan,0.0,1,0.0,0.0,0.0,0.0,NaN
894,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
895,Michigan,3.0,0,0.0,0.0,0.0,0.0,NaN
896,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
897,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
898,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
899,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
900,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
901,Michigan,3.0,1,0.0,0.0,0.0,0.0,NaN
902,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
903,Michigan,0.0,0,1.0,0.0,0.0,0.0,NaN
904,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
905,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
906,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
907,Michigan,2.0,0,0.0,0.0,0.0,0.0,NaN
908,Michigan,2.0,0,1.0,0.0,1.0,0.0,NaN
909,Michigan,5.0,0,0.0,0.0,0.0,0.0,NaN
910,Michigan,1.0,0,0.0,0.0,0.0,0.0,NaN
938,Minnesota,1.0,0,0.0,0.0,0.0,0.0,NaN
939,Minnesota,2.0,0,0.0,0.0,0.0,0.0,NaN
940,Minnesota,0.0,0,1.0,0.0,0.0,0.0,NaN
941,Minnesota,1.0,0,0.0,1.0,0.0,1.0,NaN
942,Minnesota,1.0,0,0.0,0.0,0.0,0.0,NaN
943,Minnesota,1.0,0,0.0,0.0,0.0,0.0,NaN
944,Minnesota,0.0,1,0.0,0.0,0.0,0.0,NaN
945,Minnesota,1.0,0,0.0,0.0,0.0,0.0,NaN
950,Mississippi,4.0,0,0.0,0.0,0.0,0.0,NaN
971,Missouri,1.0,0,0.0,0.0,0.0,0.0,NaN
972,Missouri,0.0,0,1.0,0.0,0.0,0.0,NaN
973,Missouri,2.0,3,1.0,0.0,0.0,0.0,NaN
974,Missouri,0.0,0,2.0,0.0,0.0,0.0,NaN
975,Missouri,1.0,0,1.0,0.0,0.0,0.0,NaN
976,Missouri,1.0,0,0.0,0.0,0.0,0.0,NaN
977,Missouri,1.0,0,0.0,0.0,0.0,0.0,NaN
978,Missouri,1.0,0,0.0,0.0,0.0,0.0,NaN
989,Montana,1.0,1,0.0,0.0,0.0,0.0,NaN
990,Montana,1.0,0,0.0,0.0,0.0,0.0,NaN
991,Montana,3.0,0,0.0,0.0,0.0,0.0,NaN
992,Montana,0.0,1,0.0,0.0,0.0,0.0,NaN
993,Montana,0.0,1,0.0,0.0,0.0,0.0,NaN
994,Montana,1.0,1,0.0,0.0,0.0,0.0,NaN
1010,Nebraska,2.0,0,0.0,0.0,0.0,0.0,NaN
1011,Nebraska,1.0,0,0.0,0.0,0.0,0.0,NaN
1012,Nebraska,0.0,0,0.0,1.0,0.0,0.0,NaN
1013,Nebraska,4.0,0,0.0,0.0,0.0,0.0,NaN
1014,Nebraska,1.0,0,0.0,0.0,0.0,0.0,NaN
1015,Nebraska,1.0,0,0.0,0.0,0.0,0.0,NaN
1016,Nebraska,1.0,0,0.0,0.0,0.0,0.0,NaN
1017,Nebraska,1.0,0,0.0,0.0,0.0,0.0,NaN
1022,Nevada,5.0,0,0.0,0.0,0.0,0.0,NaN
1232,New Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,New Jersey,1.0,0,0.0,0.0,0.0,0.0,NaN
1238,New Jersey,2.0,1,1.0,0.0,0.0,0.0,NaN
1239,New Jersey,1.0,0,0.0,0.0,0.0,0.0,NaN
1240,New Jersey,5.0,4,4.0,0.0,0.0,2.0,NaN
1241,New Jersey,4.0,3,0.0,0.0,0.0,0.0,NaN
1242,New Jersey,1.0,0,0.0,0.0,0.0,0.0,NaN
1243,New Jersey,0.0,1,0.0,0.0,0.0,0.0,NaN
1244,New Jersey,1.0,1,1.0,0.0,0.0,0.0,NaN
1245,New Jersey,0.0,3,0.0,0.0,0.0,0.0,NaN
1251,New Mexico,2.0,0,0.0,0.0,0.0,0.0,NaN
1292,New York,1.0,0,4.0,0.0,0.0,0.0,NaN
1293,New York,0.0,0,0.0,0.0,0.0,1.0,NaN
1294,New York,6.0,22,1.0,0.0,0.0,0.0,NaN
1295,New York,7.0,4,3.0,0.0,0.0,0.0,NaN
1296,New York,0.0,1,0.0,0.0,0.0,0.0,NaN
1297,New York,0.0,2,0.0,0.0,0.0,0.0,NaN
1298,New York,1.0,0,0.0,0.0,0.0,0.0,NaN
1299,New York,0.0,1,0.0,0.0,0.0,0.0,NaN
1300,New York,1.0,0,0.0,0.0,0.0,1.0,NaN
1301,New York,0.0,1,0.0,0.0,0.0,0.0,NaN
1302,New York,0.0,1,0.0,0.0,0.0,0.0,NaN
1303,New York,1.0,0,0.0,0.0,0.0,0.0,NaN
1304,New York,0.0,0,1.0,0.0,0.0,0.0,NaN
1305,New York,1.0,0,0.0,0.0,0.0,0.0,NaN
1306,New York,1.0,6,0.0,0.0,0.0,0.0,NaN
1307,New York,0.0,1,0.0,0.0,0.0,0.0,NaN
1308,New York,1.0,0,0.0,0.0,0.0,0.0,NaN
1309,New York,2.0,0,0.0,0.0,0.0,0.0,NaN
1310,New York,0.0,3,0.0,0.0,0.0,0.0,NaN
1311,New York,1.0,0,0.0,0.0,0.0,0.0,NaN
1312,New York,0.0,2,0.0,0.0,0.0,1.0,NaN
1313,New York,0.0,0,1.0,0.0,0.0,0.0,NaN
1314,New York,0.0,1,1.0,0.0,0.0,0.0,NaN
1315,New York,1.0,0,0.0,0.0,0.0,0.0,NaN
1316,New York,9.0,15,2.0,0.0,0.0,0.0,NaN
1363,North Carolina,4.0,0,0.0,0.0,0.0,0.0,NaN
1364,North Carolina,1.0,1,2.0,0.0,0.0,0.0,NaN
1365,North Carolina,3.0,0,0.0,0.0,0.0,0.0,NaN
1366,North Carolina,0.0,1,0.0,0.0,0.0,0.0,NaN
1367,North Carolina,1.0,0,0.0,1.0,0.0,0.0,NaN
1368,North Carolina,2.0,0,1.0,0.0,0.0,0.0,NaN
1369,North Carolina,1.0,0,1.0,0.0,0.0,0.0,NaN
1370,North Carolina,2.0,0,1.0,0.0,0.0,0.0,NaN
1371,North Carolina,0.0,0,1.0,0.0,0.0,0.0,NaN
1372,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1373,North Carolina,2.0,0,0.0,0.0,0.0,0.0,NaN
1374,North Carolina,1.0,1,0.0,0.0,0.0,0.0,NaN
1375,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1376,North Carolina,2.0,0,0.0,3.0,0.0,0.0,NaN
1377,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1378,North Carolina,2.0,0,0.0,0.0,0.0,0.0,NaN
1379,North Carolina,5.0,0,0.0,0.0,0.0,0.0,NaN
1380,North Carolina,2.0,1,0.0,1.0,0.0,0.0,NaN
1381,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1382,North Carolina,0.0,1,0.0,0.0,0.0,0.0,NaN
1383,North Carolina,0.0,2,0.0,0.0,0.0,0.0,NaN
1384,North Carolina,0.0,1,0.0,0.0,0.0,0.0,NaN
1385,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1386,North Carolina,4.0,0,0.0,0.0,0.0,0.0,NaN
1387,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1388,North Carolina,0.0,1,0.0,0.0,0.0,0.0,NaN
1389,North Carolina,2.0,0,0.0,0.0,0.0,0.0,NaN
1390,North Carolina,1.0,1,0.0,0.0,0.0,0.0,NaN
1391,North Carolina,0.0,0,0.0,1.0,0.0,0.0,NaN
1392,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1393,North Carolina,2.0,0,0.0,0.0,0.0,0.0,NaN
1394,North Carolina,0.0,1,0.0,0.0,0.0,0.0,NaN
1395,North Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1396,North Carolina,2.0,0,0.0,0.0,0.0,0.0,NaN
1404,North Dakota,1.0,0,0.0,0.0,0.0,0.0,NaN
1405,North Dakota,3.0,0,0.0,0.0,0.0,0.0,NaN
1406,North Dakota,1.0,0,0.0,0.0,0.0,0.0,NaN
1407,North Dakota,1.0,0,0.0,0.0,0.0,0.0,NaN
1408,North Dakota,0.0,0,1.0,0.0,0.0,0.0,NaN
1512,Ohio,0.0,1,0.0,0.0,0.0,0.0,NaN
1513,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1514,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1515,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1516,Ohio,0.0,0,1.0,0.0,0.0,0.0,NaN
1517,Ohio,0.0,0,0.0,0.0,0.0,1.0,NaN
1518,Ohio,3.0,0,0.0,0.0,0.0,0.0,NaN
1519,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1520,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1521,Ohio,3.0,0,0.0,0.0,0.0,1.0,NaN
1522,Ohio,1.0,0,1.0,0.0,0.0,0.0,NaN
1523,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1524,Ohio,1.0,0,0.0,2.0,0.0,0.0,NaN
1525,Ohio,0.0,0,0.0,4.0,0.0,0.0,NaN
1526,Ohio,1.0,1,0.0,0.0,0.0,0.0,NaN
1527,Ohio,0.0,0,1.0,0.0,0.0,0.0,NaN
1528,Ohio,0.0,1,0.0,0.0,0.0,0.0,NaN
1529,Ohio,0.0,1,0.0,1.0,0.0,0.0,NaN
1530,Ohio,0.0,0,1.0,0.0,0.0,0.0,NaN
1531,Ohio,2.0,1,0.0,0.0,0.0,0.0,NaN
1532,Ohio,0.0,0,1.0,0.0,0.0,0.0,NaN
1533,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1534,Ohio,2.0,0,0.0,0.0,0.0,0.0,NaN
1535,Ohio,1.0,1,0.0,0.0,0.0,1.0,NaN
1536,Ohio,1.0,0,0.0,0.0,0.0,0.0,NaN
1537,Ohio,0.0,0,0.0,1.0,0.0,0.0,NaN
1538,Ohio,2.0,0,0.0,0.0,0.0,0.0,NaN
1539,Ohio,0.0,0,0.0,1.0,0.0,0.0,NaN
1540,Ohio,1.0,0,0.0,0.0,0.0,1.0,NaN
1541,Ohio,0.0,0,0.0,0.0,0.0,1.0,NaN
1542,Ohio,0.0,0,2.0,0.0,0.0,0.0,NaN
1557,Oklahoma,0.0,1,0.0,0.0,0.0,0.0,NaN
1558,Oklahoma,2.0,0,0.0,0.0,0.0,0.0,NaN
1559,Oklahoma,0.0,0,1.0,0.0,0.0,0.0,NaN
1560,Oklahoma,0.0,0,0.0,1.0,0.0,0.0,NaN
1561,Oklahoma,1.0,0,0.0,0.0,0.0,0.0,NaN
1562,Oklahoma,0.0,1,0.0,0.0,0.0,0.0,NaN
1563,Oklahoma,1.0,0,0.0,0.0,0.0,0.0,NaN
1564,Oklahoma,0.0,0,1.0,0.0,0.0,0.0,NaN
1603,Oregon,9.0,2,1.0,0.0,0.0,0.0,NaN
1604,Oregon,1.0,0,0.0,0.0,0.0,0.0,NaN
1605,Oregon,2.0,0,1.0,0.0,0.0,0.0,NaN
1606,Oregon,6.0,0,1.0,0.0,0.0,0.0,NaN
1607,Oregon,1.0,0,0.0,0.0,0.0,0.0,NaN
1608,Oregon,0.0,1,0.0,0.0,0.0,0.0,NaN
1609,Oregon,0.0,0,1.0,0.0,0.0,0.0,NaN
1610,Oregon,0.0,0,1.0,0.0,0.0,0.0,NaN
1623,Pennsylvania,0.0,1,0.0,0.0,0.0,0.0,NaN
1624,Pennsylvania,1.0,0,0.0,0.0,0.0,0.0,NaN
1625,Pennsylvania,1.0,0,0.0,0.0,0.0,0.0,NaN
1659,South Carolina,1.0,0,0.0,0.0,0.0,1.0,NaN
1660,South Carolina,2.0,9,0.0,0.0,0.0,0.0,NaN
1661,South Carolina,1.0,1,0.0,0.0,0.0,0.0,NaN
1662,South Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1663,South Carolina,0.0,0,1.0,0.0,0.0,0.0,NaN
1664,South Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1665,South Carolina,3.0,3,0.0,0.0,0.0,0.0,NaN
1666,South Carolina,0.0,2,0.0,0.0,0.0,0.0,NaN
1667,South Carolina,2.0,0,1.0,0.0,0.0,0.0,NaN
1668,South Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1669,South Carolina,0.0,1,0.0,0.0,0.0,0.0,NaN
1670,South Carolina,1.0,0,0.0,0.0,0.0,0.0,NaN
1671,South Carolina,2.0,0,0.0,0.0,0.0,0.0,NaN
1681,South Dakota,1.0,0,1.0,0.0,0.0,0.0,NaN
1682,South Dakota,1.0,0,0.0,0.0,0.0,0.0,NaN
1683,South Dakota,1.0,0,0.0,0.0,0.0,0.0,NaN
1684,South Dakota,1.0,0,0.0,0.0,0.0,0.0,NaN
1710,Tennessee,0.0,0,1.0,0.0,0.0,0.0,NaN
1711,Tennessee,3.0,1,0.0,0.0,0.0,1.0,NaN
1712,Tennessee,2.0,0,1.0,0.0,0.0,0.0,NaN
1713,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1714,Tennessee,3.0,0,0.0,0.0,0.0,0.0,NaN
1715,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1716,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1717,Tennessee,1.0,2,0.0,0.0,0.0,0.0,NaN
1718,Tennessee,5.0,0,0.0,0.0,0.0,0.0,NaN
1719,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1720,Tennessee,0.0,1,0.0,0.0,0.0,0.0,NaN
1721,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1722,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1723,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1724,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1725,Tennessee,30.0,0,1.0,0.0,1.0,0.0,NaN
1726,Tennessee,1.0,0,0.0,0.0,0.0,0.0,NaN
1859,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1860,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1861,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1862,Texas,2.0,0,0.0,0.0,0.0,0.0,NaN
1863,Texas,0.0,0,0.0,1.0,0.0,0.0,NaN
1864,Texas,13.0,2,1.0,0.0,2.0,1.0,NaN
1865,Texas,10.0,1,0.0,0.0,0.0,0.0,NaN
1866,Texas,2.0,0,0.0,0.0,0.0,0.0,NaN
1867,Texas,1.0,1,0.0,0.0,0.0,0.0,NaN
1868,Texas,0.0,0,1.0,0.0,0.0,0.0,NaN
1869,Texas,3.0,0,0.0,0.0,0.0,0.0,NaN
1870,Texas,2.0,0,0.0,0.0,0.0,0.0,NaN
1871,Texas,3.0,2,2.0,1.0,0.0,0.0,NaN
1872,Texas,0.0,1,0.0,0.0,0.0,1.0,NaN
1873,Texas,0.0,0,0.0,1.0,0.0,0.0,NaN
1874,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1875,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1876,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1877,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1878,Texas,2.0,1,0.0,0.0,0.0,1.0,NaN
1879,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1880,Texas,2.0,0,0.0,0.0,0.0,0.0,NaN
1881,Texas,0.0,0,0.0,0.0,0.0,1.0,NaN
1882,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1883,Texas,0.0,0,1.0,0.0,0.0,0.0,NaN
1884,Texas,4.0,0,0.0,0.0,0.0,0.0,NaN
1885,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1886,Texas,1.0,1,0.0,0.0,0.0,0.0,NaN
1887,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1888,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1889,Texas,1.0,0,0.0,0.0,0.0,0.0,NaN
1890,Texas,4.0,0,0.0,1.0,0.0,0.0,NaN
1891,Texas,0.0,0,0.0,1.0,0.0,0.0,NaN
1892,Texas,2.0,0,0.0,0.0,0.0,0.0,NaN
1893,Texas,1.0,0,1.0,0.0,0.0,0.0,NaN
1906,Utah,0.0,1,0.0,0.0,0.0,0.0,NaN
1907,Utah,1.0,0,0.0,0.0,0.0,0.0,NaN
1923,Vermont,1.0,0,0.0,0.0,0.0,0.0,NaN
1924,Vermont,0.0,0,0.0,1.0,0.0,0.0,NaN
1950,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1951,Virginia,0.0,0,1.0,0.0,0.0,0.0,NaN
1952,Virginia,2.0,0,0.0,0.0,0.0,0.0,NaN
1953,Virginia,8.0,4,1.0,0.0,0.0,0.0,NaN
1954,Virginia,1.0,1,0.0,0.0,0.0,0.0,NaN
1955,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1956,Virginia,2.0,1,0.0,0.0,0.0,0.0,NaN
1957,Virginia,0.0,2,0.0,0.0,0.0,0.0,NaN
1958,Virginia,27.0,8,2.0,0.0,0.0,0.0,NaN
1959,Virginia,1.0,0,1.0,0.0,0.0,0.0,NaN
1960,Virginia,2.0,0,0.0,0.0,0.0,0.0,NaN
1961,Virginia,0.0,0,1.0,0.0,0.0,0.0,NaN
1962,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1963,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1964,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1965,Virginia,12.0,2,2.0,1.0,1.0,1.0,NaN
1966,Virginia,0.0,0,1.0,0.0,0.0,0.0,NaN
1967,Virginia,2.0,0,0.0,0.0,0.0,0.0,NaN
1968,Virginia,3.0,1,0.0,0.0,0.0,0.0,NaN
1969,Virginia,0.0,1,1.0,0.0,0.0,0.0,NaN
1970,Virginia,1.0,0,0.0,1.0,0.0,0.0,NaN
1971,Virginia,4.0,0,0.0,0.0,0.0,0.0,NaN
1972,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1973,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1974,Virginia,2.0,0,0.0,0.0,0.0,0.0,NaN
1975,Virginia,2.0,0,0.0,0.0,0.0,0.0,NaN
1976,Virginia,0.0,0,1.0,0.0,0.0,0.0,NaN
1977,Virginia,0.0,0,1.0,0.0,0.0,0.0,NaN
1978,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1979,Virginia,0.0,0,0.0,1.0,0.0,0.0,NaN
1980,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
1981,Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
2043,Washington,1.0,1,0.0,0.0,0.0,0.0,NaN
2044,Washington,1.0,0,1.0,0.0,0.0,0.0,NaN
2045,Washington,0.0,0,0.0,1.0,0.0,0.0,NaN
2046,Washington,17.0,2,4.0,0.0,2.0,0.0,NaN
2047,Washington,1.0,0,0.0,0.0,0.0,0.0,NaN
2048,Washington,1.0,1,0.0,0.0,0.0,0.0,NaN
2049,Washington,2.0,0,0.0,0.0,0.0,0.0,NaN
2050,Washington,3.0,1,1.0,0.0,0.0,0.0,NaN
2051,Washington,4.0,1,0.0,0.0,0.0,0.0,NaN
2052,Washington,0.0,0,1.0,0.0,0.0,0.0,NaN
2053,Washington,1.0,1,0.0,0.0,0.0,0.0,NaN
2054,Washington,3.0,0,0.0,0.0,0.0,0.0,NaN
2055,Washington,2.0,0,0.0,0.0,0.0,0.0,NaN
2056,Washington,1.0,0,0.0,0.0,0.0,0.0,NaN
2057,Washington,1.0,0,0.0,0.0,0.0,0.0,NaN
2058,Washington,0.0,1,0.0,0.0,0.0,0.0,NaN
2065,West Virginia,2.0,0,0.0,1.0,0.0,0.0,NaN
2066,West Virginia,0.0,1,0.0,0.0,0.0,0.0,NaN
2067,West Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
2068,West Virginia,1.0,0,0.0,0.0,0.0,0.0,NaN
2069,West Virginia,0.0,0,0.0,0.0,1.0,0.0,NaN

In [328]:
#There appear to be a fair number of NaN values, especially in "Population" column. How many nulls still in dataset?
HateCrime2019NoNA.isnull().sum().sum()

523

In [329]:
#523 out of 2125 records is approximately a quarter of the data, so I need to either source the data from elsewhere
#or transform the data here somehow. Since I've already decided to build a demographics dataset and the source includes
#state population data, I will include that in the dataset build and drop this population data.
del HateCrime2019NoNA['Population']
HateCrime2019NoNA.head()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity
0,Alaska,4.0,0,2.0,0.0,0.0,0.0
1,Alaska,1.0,0,0.0,0.0,0.0,0.0
2,Alaska,1.0,0,0.0,0.0,0.0,0.0
3,Alaska,1.0,0,0.0,0.0,0.0,0.0
4,Alaska,0.0,0,2.0,0.0,0.0,0.0

In [330]:
#Viewed any nulls to confirm code worked.
HateCrime2019NoNA[HateCrime2019NoNA.isnull().any(1)]

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity
1232,New Jersey,NaN,NaN,NaN,NaN,NaN,NaN

In [331]:
#This row contains no useful data, so we need to drop it. Also a good time to give this cleaned up set a name.
HateCrime2019NoNA = HateCrime2019NoNA.dropna(how='any',axis=0)

In [332]:
#Now check to see if code worked.
HateCrime2019NoNA[HateCrime2019NoNA.isnull().any(1)]

Empty DataFrame
Columns: [State, Race, Religion, SexualOrientation, Disability, Gender, GenderIdentity]
Index: []

In [333]:
#Just to be sure, check a different way to make sure there are no other nulls.
HateCrime2019NoNA.isnull().sum().sum()

0

In [334]:
HateCrime2019NoNA.head()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity
0,Alaska,4.0,0,2.0,0.0,0.0,0.0
1,Alaska,1.0,0,0.0,0.0,0.0,0.0
2,Alaska,1.0,0,0.0,0.0,0.0,0.0
3,Alaska,1.0,0,0.0,0.0,0.0,0.0
4,Alaska,0.0,0,2.0,0.0,0.0,0.0

In [335]:
HateCrime2019NoNA.tail()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity
2120,Wyoming,1.0,0,0.0,0.0,0.0,0.0
2121,Wyoming,1.0,0,0.0,0.0,0.0,0.0
2122,Wyoming,0.0,0,1.0,0.0,0.0,0.0
2123,Wyoming,1.0,0,0.0,0.0,0.0,0.0
2124,Wyoming,1.0,0,0.0,0.0,0.0,0.0

In [169]:
#Now need to collapse all rows of "HateCrime2019_NoNA" dataset for the same state into one row for ease of working with dataset.
#Since questions focused on the state level, do not need data broken out by local agency.
#This will also make it possible to combine with demographics dataset from census site which is one row per state.

In [336]:
#Aggregated Race column by State
HateCrime2019NoNA1 = HateCrime2019NoNA.groupby(['State']).agg({'Race': ['sum']}).reset_index()

In [337]:
#Verified aggregation occurred.
HateCrime2019NoNA1.head()

        State   Race
                 sum
0      Alaska    7.0
1     Arizona  143.0
2    Arkansas    8.0
3  California  524.0
4    Colorado  117.0

In [338]:
#Aggregated all other columns into their own tables
HateCrime2019NoNA2 = HateCrime2019NoNA.groupby(['State']).agg({'Religion': ['sum']}).reset_index()
HateCrime2019NoNA3 = HateCrime2019NoNA.groupby(['State']).agg({'SexualOrientation': ['sum']}).reset_index()
HateCrime2019NoNA4 = HateCrime2019NoNA.groupby(['State']).agg({'Disability': ['sum']}).reset_index()
HateCrime2019NoNA5 = HateCrime2019NoNA.groupby(['State']).agg({'Gender': ['sum']}).reset_index()
HateCrime2019NoNA6 = HateCrime2019NoNA.groupby(['State']).agg({'GenderIdentity': ['sum']}).reset_index()

In [339]:
#Verified code worked
HateCrime2019NoNA2.head()

        State                                           Religion
                                                             sum
0      Alaska                                              00000
1     Arizona                                 100120002001010604
2    Arkansas                                             000000
3  California  0101000000026014000010010120010000000010000100...
4    Colorado  0110100220151000200100000111000100100002010110...

In [340]:
HateCrime2019NoNA3.head()

        State SexualOrientation
                            sum
0      Alaska               4.0
1     Arizona              30.0
2    Arkansas               1.0
3  California             235.0
4    Colorado              47.0

In [341]:
HateCrime2019NoNA4.head()

        State Disability
                     sum
0      Alaska        0.0
1     Arizona        3.0
2    Arkansas        0.0
3  California       10.0
4    Colorado        7.0

In [342]:
HateCrime2019NoNA5.head()

        State Gender
                 sum
0      Alaska    0.0
1     Arizona    2.0
2    Arkansas    0.0
3  California    7.0
4    Colorado    0.0

In [343]:
HateCrime2019NoNA6.head()

        State GenderIdentity
                         sum
0      Alaska            0.0
1     Arizona            3.0
2    Arkansas            0.0
3  California           33.0
4    Colorado            5.0

In [356]:
#Religion column data did not sum correctly - data type is likely not correct.
#Revealed data type in dataset of one of the columns that summed correctly compared to Religion data.
HateCrime2019NoNA0 = HateCrime2019NoNA['Race']
HateCrime2019NoNA0.head()

0    4.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Race, dtype: float64

In [357]:
HateCrime2019NoNA0 = HateCrime2019NoNA['Religion']
HateCrime2019NoNA0.head()

0    0
1    0
2    0
3    0
4    0
Name: Religion, dtype: object

In [358]:
#Religion data needs to be converted from object to float; results placed in new dataframe.
modelFeatures = ['Religion']
HateCrime2019NoNA0 = HateCrime2019NoNA[modelFeatures].astype(float) 
HateCrime2019NoNA0.head()

   Religion
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

In [359]:
#To aggregate the Religion data to match the rest, I need the State data alongside the Religion data.
#Placed State data in new dataframe.
HateCrime2019NoNA00 = HateCrime2019NoNA['State']
HateCrime2019NoNA00.head()

0    Alaska
1    Alaska
2    Alaska
3    Alaska
4    Alaska
Name: State, dtype: object

In [363]:
#Combined State and Religion dataframes into a third dataframe.
HateCrime2019NoNA000 = pd.concat([HateCrime2019NoNA00, HateCrime2019NoNA0],axis=1)
HateCrime2019NoNA000.head()

    State  Religion
0  Alaska       0.0
1  Alaska       0.0
2  Alaska       0.0
3  Alaska       0.0
4  Alaska       0.0

In [364]:
#Aggregated Religion data.
HateCrime2019NoNA2 = HateCrime2019NoNA000.groupby(['State']).agg({'Religion': ['sum']}).reset_index()

In [365]:
#Verifying conversion and aggregate worked.
HateCrime2019NoNA2.head()

        State Religion
                   sum
0      Alaska      0.0
1     Arizona     36.0
2    Arkansas      0.0
3  California    208.0
4    Colorado     36.0

In [366]:
#Now that everything is aggregated into one row per state, will join all the separate tables into one dataset
#using the State column. Will test with the first 2
HateCrime2019NoNA1and2 = pd.merge(HateCrime2019NoNA1, HateCrime2019NoNA2)
HateCrime2019NoNA1and2.head()

        State   Race Religion
                 sum      sum
0      Alaska    7.0      0.0
1     Arizona  143.0     36.0
2    Arkansas    8.0      0.0
3  California  524.0    208.0
4    Colorado  117.0     36.0

In [367]:
#Works! Now to join all the other tables created from original HateCrime2019 dataset
HateCrime2019NoNA123 = pd.merge(HateCrime2019NoNA1and2, HateCrime2019NoNA3)
HateCrime2019NoNA1to4 = pd.merge(HateCrime2019NoNA123, HateCrime2019NoNA4)
HateCrime2019NoNA1to5 = pd.merge(HateCrime2019NoNA1to4, HateCrime2019NoNA5)
HateCrime2019NoNATotal = pd.merge(HateCrime2019NoNA1to5, HateCrime2019NoNA6)
HateCrime2019NoNATotal.head()

,State,Race,Religion,SexualOrientation,Disability,Gender,GenderIdentity
,,sum,sum,sum,sum,sum,sum
0,Alaska,7.0,0.0,4.0,0.0,0.0,0.0
1,Arizona,143.0,36.0,30.0,3.0,2.0,3.0
2,Arkansas,8.0,0.0,1.0,0.0,0.0,0.0
3,California,524.0,208.0,235.0,10.0,7.0,33.0
4,Colorado,117.0,36.0,47.0,7.0,0.0,5.0

In [ ]:
#Now can combine with demographics dataset.
#Called in Demographics dataset.
USCensus2020 = pd.read_csv("Data Files/2020 US Census - State Racial Demographics.csv")
USCensus2020.head()

In [96]:
#Now can combine with USCensus2020 dataset
print(USCensus2020)

                   State  WhitePct  BlackPct  AmerIndianOrAlaskaNativePct  \
0                 Alaska      59.4       3.0                         15.2
1                Arizona      60.4       4.7                          4.5
2               Arkansas      70.2      15.1                          0.9
3             California      41.2       5.7                          1.6
4               Colorado      70.7       4.1                          1.3
5            Connecticut      66.4      10.8                          0.4
6               Delaware      60.4      22.1                          0.5
7   District of Columbia      39.6      41.4                          0.5
8                Florida      57.7      15.1                          0.4
9                Georgia      51.9      31.0                          0.5
10                Hawaii      22.9       1.6                          0.3
11                 Idaho      82.1       0.9                          1.4
12              Illinois      61.4      14.1                          0.8
13               Indiana      77.2       9.6                          0.4
14                  Iowa      84.5       4.1                          0.5
15                Kansas      75.6       5.7                          1.1
16              Kentucky      82.4       8.0                          0.3
17             Louisiana      57.1      31.4                          0.7
18                 Maine      90.8       1.9                          0.6
19              Maryland      48.7      29.5                          0.5
20         Massachusetts      69.6       7.0                          0.3
21              Michigan      73.9      13.7                          0.6
22             Minnesota      77.5       7.0                          1.2
23           Mississippi      56.0      36.6                          0.6
24              Missouri      77.0      11.4                          0.5
25               Montana      84.5       0.5                          6.2
26              Nebraska      78.4       4.9                          1.2
27                Nevada      51.2       9.8                          1.4
28         New Hampshire      88.3       1.5                          0.2
29            New Jersey      55.0      13.1                          0.6
30            New Mexico      51.0       2.2                         10.0
31              New York      55.2      14.8                          0.7
32        North Carolina      62.2      20.5                          1.2
33          North Dakota      82.9       3.4                          5.0
34                  Ohio      77.0      12.5                          0.3
35              Oklahoma      63.5       7.3                          8.4
36                Oregon      74.8       2.0                          1.5
37          Pennsylvania      75.0      10.9                          0.2
38          Rhode Island      71.3       5.7                          0.7
39        South Carolina      63.4      25.0                          0.5
40          South Dakota      80.7       2.0                          8.8
41             Tennessee      72.2      15.8                          0.4
42                 Texas      50.1      12.2                          1.0
43                  Utah      78.7       1.2                          1.3
44               Vermont      89.8       1.4                          0.4
45              Virginia      60.3      18.6                          0.5
46            Washington      66.6       4.0                          1.6
47         West Virginia      89.8       3.7                          0.2
48             Wisconsin      80.4       6.4                          1.0
49               Wyoming      84.7       0.9                          2.4
50         United States      61.6      12.4                          1.1

    AsianPct  NativeHawaiiOrOtherPacificIslePct  OtherRacePct  \
0        6.0                                1.7           2.5
1        3.6                                0.2          12.6
2        1.7                                0.5           4.5
3       15.4                                0.4          21.2
4        3.5                                0.2           8.0
5        4.8                                0.0           8.3
6        4.3                                0.0           4.9
7        4.9                                0.1           5.4
8        3.0                                0.1           7.3
9        4.5                                0.1           5.2
10      37.2                               10.8           1.8
11       1.5                                0.2           5.6
12       5.9                                0.0           8.9
13       2.5                                0.0           3.9
14       2.4                                0.2           2.8
15       2.9                                0.1           4.9
16       1.7                                1.7           2.1
17       1.9                                0.0           3.1
18       1.2                                0.0           0.7
19       6.8                                0.1           6.7
20       7.2                                0.0           7.1
21       3.3                                0.0           2.2
22       5.2                                0.1           3.0
23       1.1                                0.0           1.9
24       2.2                                0.2           2.1
25       0.8                                0.1           1.3
26       2.7                                0.1           5.4
27       8.8                                0.8          14.0
28       2.6                                0.0           1.7
29      10.2                                0.0          11.3
30       1.8                                0.1          15.0
31       9.6                                0.1          10.9
32       3.3                                0.1           5.9
33       1.7                                0.1           1.5
34       2.5                                0.0           1.9
35       2.3                                0.2           5.4
36       4.6                                0.5           6.3
37       3.9                                0.0           3.9
38       3.6                                0.0           9.4
39       1.8                                0.1           3.5
40       1.5                                0.1           1.7
41       2.0                                0.1           3.6
42       5.4                                0.1          13.6
43       2.5                                1.1           6.7
44       1.8                                0.0           0.8
45       7.1                                0.1           5.2
46       9.5                                0.8           6.7
47       0.8                                0.0           0.7
48       3.0                                0.0           3.1
49       0.9                                0.1           3.5
50       6.0                                0.2           8.4

    TwoOrMoreRacePct  HispanicPct
0               12.2          6.8
1               13.9         30.7
2                7.1          8.5
3               14.6         39.4
4               12.3         21.9
5                9.2         17.3
6                7.7         10.5
7                8.1         11.3
8               16.5         26.5
9                6.9         10.5
10              25.3          9.5
11               8.3         13.0
12               8.9         18.2
13               6.4          8.2
14               5.6          6.8
15               9.5         13.0
16               5.4          4.6
17               5.9          6.9
18               4.7          2.0
19               7.8         11.8
20               8.7         12.6
21               6.3          5.6
22               6.1          6.1
23               3.7          3.6
24               6.7          4.9
25               6.6          4.2
26               7.3         12.0
27              14.0         28.7
28               5.6          4.3
29               9.7         21.6
30              19.9         47.7
31               8.7         19.5
32               6.8         10.7
33               5.4          4.3
34               5.8          4.4
35              12.8         11.9
36              10.5         13.9
37               6.0          8.1
38               9.3         16.6
39               5.8          6.9
40               5.3          4.4
41               6.0          6.9
42              17.6         39.3
43               8.5         15.1
44               5.8          2.4
45               8.2         10.5
46              10.9         13.7
47               4.7          1.9
48               6.1          7.6
49               7.5         10.2
50              10.2         18.7

In [106]:
#Drop row 50 with the US data and leave only the state data
USCensus2020_StatesOnly = USCensus2020.drop([50], axis=0)
print(USCensus2020_StatesOnly)

                   State  WhitePct  BlackPct  AmerIndianOrAlaskaNativePct  \
0                 Alaska      59.4       3.0                         15.2
1                Arizona      60.4       4.7                          4.5
2               Arkansas      70.2      15.1                          0.9
3             California      41.2       5.7                          1.6
4               Colorado      70.7       4.1                          1.3
5            Connecticut      66.4      10.8                          0.4
6               Delaware      60.4      22.1                          0.5
7   District of Columbia      39.6      41.4                          0.5
8                Florida      57.7      15.1                          0.4
9                Georgia      51.9      31.0                          0.5
10                Hawaii      22.9       1.6                          0.3
11                 Idaho      82.1       0.9                          1.4
12              Illinois      61.4      14.1                          0.8
13               Indiana      77.2       9.6                          0.4
14                  Iowa      84.5       4.1                          0.5
15                Kansas      75.6       5.7                          1.1
16              Kentucky      82.4       8.0                          0.3
17             Louisiana      57.1      31.4                          0.7
18                 Maine      90.8       1.9                          0.6
19              Maryland      48.7      29.5                          0.5
20         Massachusetts      69.6       7.0                          0.3
21              Michigan      73.9      13.7                          0.6
22             Minnesota      77.5       7.0                          1.2
23           Mississippi      56.0      36.6                          0.6
24              Missouri      77.0      11.4                          0.5
25               Montana      84.5       0.5                          6.2
26              Nebraska      78.4       4.9                          1.2
27                Nevada      51.2       9.8                          1.4
28         New Hampshire      88.3       1.5                          0.2
29            New Jersey      55.0      13.1                          0.6
30            New Mexico      51.0       2.2                         10.0
31              New York      55.2      14.8                          0.7
32        North Carolina      62.2      20.5                          1.2
33          North Dakota      82.9       3.4                          5.0
34                  Ohio      77.0      12.5                          0.3
35              Oklahoma      63.5       7.3                          8.4
36                Oregon      74.8       2.0                          1.5
37          Pennsylvania      75.0      10.9                          0.2
38          Rhode Island      71.3       5.7                          0.7
39        South Carolina      63.4      25.0                          0.5
40          South Dakota      80.7       2.0                          8.8
41             Tennessee      72.2      15.8                          0.4
42                 Texas      50.1      12.2                          1.0
43                  Utah      78.7       1.2                          1.3
44               Vermont      89.8       1.4                          0.4
45              Virginia      60.3      18.6                          0.5
46            Washington      66.6       4.0                          1.6
47         West Virginia      89.8       3.7                          0.2
48             Wisconsin      80.4       6.4                          1.0
49               Wyoming      84.7       0.9                          2.4

    AsianPct  NativeHawaiiOrOtherPacificIslePct  OtherRacePct  \
0        6.0                                1.7           2.5
1        3.6                                0.2          12.6
2        1.7                                0.5           4.5
3       15.4                                0.4          21.2
4        3.5                                0.2           8.0
5        4.8                                0.0           8.3
6        4.3                                0.0           4.9
7        4.9                                0.1           5.4
8        3.0                                0.1           7.3
9        4.5                                0.1           5.2
10      37.2                               10.8           1.8
11       1.5                                0.2           5.6
12       5.9                                0.0           8.9
13       2.5                                0.0           3.9
14       2.4                                0.2           2.8
15       2.9                                0.1           4.9
16       1.7                                1.7           2.1
17       1.9                                0.0           3.1
18       1.2                                0.0           0.7
19       6.8                                0.1           6.7
20       7.2                                0.0           7.1
21       3.3                                0.0           2.2
22       5.2                                0.1           3.0
23       1.1                                0.0           1.9
24       2.2                                0.2           2.1
25       0.8                                0.1           1.3
26       2.7                                0.1           5.4
27       8.8                                0.8          14.0
28       2.6                                0.0           1.7
29      10.2                                0.0          11.3
30       1.8                                0.1          15.0
31       9.6                                0.1          10.9
32       3.3                                0.1           5.9
33       1.7                                0.1           1.5
34       2.5                                0.0           1.9
35       2.3                                0.2           5.4
36       4.6                                0.5           6.3
37       3.9                                0.0           3.9
38       3.6                                0.0           9.4
39       1.8                                0.1           3.5
40       1.5                                0.1           1.7
41       2.0                                0.1           3.6
42       5.4                                0.1          13.6
43       2.5                                1.1           6.7
44       1.8                                0.0           0.8
45       7.1                                0.1           5.2
46       9.5                                0.8           6.7
47       0.8                                0.0           0.7
48       3.0                                0.0           3.1
49       0.9                                0.1           3.5

    TwoOrMoreRacePct  HispanicPct
0               12.2          6.8
1               13.9         30.7
2                7.1          8.5
3               14.6         39.4
4               12.3         21.9
5                9.2         17.3
6                7.7         10.5
7                8.1         11.3
8               16.5         26.5
9                6.9         10.5
10              25.3          9.5
11               8.3         13.0
12               8.9         18.2
13               6.4          8.2
14               5.6          6.8
15               9.5         13.0
16               5.4          4.6
17               5.9          6.9
18               4.7          2.0
19               7.8         11.8
20               8.7         12.6
21               6.3          5.6
22               6.1          6.1
23               3.7          3.6
24               6.7          4.9
25               6.6          4.2
26               7.3         12.0
27              14.0         28.7
28               5.6          4.3
29               9.7         21.6
30              19.9         47.7
31               8.7         19.5
32               6.8         10.7
33               5.4          4.3
34               5.8          4.4
35              12.8         11.9
36              10.5         13.9
37               6.0          8.1
38               9.3         16.6
39               5.8          6.9
40               5.3          4.4
41               6.0          6.9
42              17.6         39.3
43               8.5         15.1
44               5.8          2.4
45               8.2         10.5
46              10.9         13.7
47               4.7          1.9
48               6.1          7.6
49               7.5         10.2

In [108]:
#Merge the HateCrimes and USCensus datasets
HateCrime2019_USCensus2020 = pd.merge(HateCrime2019_NoNATotal, USCensus2020_StatesOnly, on='State')
print(HateCrime2019_USCensus2020)

                   State             (State, )  (Race, sum)  (Religion, sum)  \
0                 Alaska                Alaska          7.0              0.0
1                Arizona               Arizona        143.0             36.0
2               Arkansas              Arkansas          8.0              0.0
3             California            California        524.0            208.0
4               Colorado              Colorado        117.0             36.0
5            Connecticut           Connecticut         48.0             16.0
6               Delaware              Delaware         10.0              4.0
7   District of Columbia  District of Columbia        119.0              8.0
8                Florida               Florida         48.0             36.0
9                Georgia               Georgia         76.0              8.0
10                Hawaii                Hawaii         30.0              2.0
11                 Idaho                 Idaho         18.0              1.0
12              Illinois              Illinois         34.0              9.0
13               Indiana               Indiana         47.0             13.0
14                  Iowa                  Iowa          6.0              0.0
15                Kansas                Kansas         36.0             25.0
16              Kentucky              Kentucky        114.0             12.0
17             Louisiana             Louisiana          9.0              8.0
18                 Maine                 Maine         10.0              2.0
19              Maryland              Maryland          7.0              4.0
20         Massachusetts         Massachusetts        213.0            101.0
21              Michigan              Michigan        313.0             51.0
22             Minnesota             Minnesota         59.0             20.0
23           Mississippi           Mississippi          6.0              1.0
24              Missouri              Missouri         52.0             13.0
25               Montana               Montana         16.0              9.0
26              Nebraska              Nebraska         38.0              3.0
27                Nevada                Nevada         27.0             10.0
28         New Hampshire         New Hampshire          8.0              5.0
29            New Jersey            New Jersey        252.0            250.0
30            New Mexico            New Mexico         30.0              8.0
31              New York              New York        164.0            357.0
32        North Carolina        North Carolina        132.0             42.0
33          North Dakota          North Dakota         14.0              1.0
34                  Ohio                  Ohio        216.0             30.0
35              Oklahoma              Oklahoma         14.0              5.0
36                Oregon                Oregon        116.0             29.0
37          Pennsylvania          Pennsylvania         28.0              9.0
38          Rhode Island          Rhode Island          4.0              5.0
39        South Carolina        South Carolina         36.0             20.0
40          South Dakota          South Dakota         13.0              3.0
41             Tennessee             Tennessee         91.0             12.0
42                 Texas                 Texas        300.0             44.0
43                  Utah                  Utah         12.0              3.0
44               Vermont               Vermont         18.0              4.0
45              Virginia              Virginia        102.0             27.0
46            Washington            Washington        331.0             76.0
47         West Virginia         West Virginia         18.0              6.0
48             Wisconsin             Wisconsin         39.0             18.0
49               Wyoming               Wyoming          4.0              0.0

    (SexualOrientation, sum)  (Disability, sum)  (Gender, sum)  \
0                        4.0                0.0            0.0
1                       30.0                3.0            2.0
2                        1.0                0.0            0.0
3                      235.0               10.0            7.0
4                       47.0                7.0            0.0
5                       11.0                0.0            1.0
6                        7.0                0.0            0.0
7                       65.0                1.0            2.0
8                       27.0                0.0            0.0
9                        6.0                4.0            3.0
10                       9.0                0.0            0.0
11                       4.0                1.0            0.0
12                      17.0                0.0            0.0
13                      14.0                0.0            0.0
14                       4.0                0.0            0.0
15                       7.0                3.0            1.0
16                      19.0                1.0            2.0
17                       7.0                2.0            0.0
18                       7.0                0.0            0.0
19                       7.0                1.0            0.0
20                      92.0                1.0            2.0
21                      44.0                9.0           15.0
22                      17.0                1.0            3.0
23                       1.0                6.0            0.0
24                      16.0                1.0            0.0
25                       2.0                1.0            1.0
26                       3.0                2.0            0.0
27                       4.0                1.0            0.0
28                       3.0                0.0            0.0
29                      65.0                1.0            5.0
30                       8.0                1.0            0.0
31                      73.0                1.0            0.0
32                      30.0                7.0            0.0
33                       3.0                0.0            0.0
34                      60.0               55.0            7.0
35                       8.0                1.0            0.0
36                      27.0                2.0            2.0
37                       4.0                0.0            0.0
38                       8.0                0.0            0.0
39                       7.0                1.0            3.0
40                       4.0                0.0            0.0
41                      10.0                1.0            2.0
42                      71.0               19.0            7.0
43                       3.0                0.0            0.0
44                       9.0                1.0            0.0
45                      27.0                3.0            1.0
46                     116.0                8.0            8.0
47                       3.0                2.0            1.0
48                       5.0                4.0            2.0
49                       1.0                0.0            0.0

    (GenderIdentity, sum)  (1stQtr, sum)  (2ndQtr, sum)  ...  (4thQtr, sum)  \
0                     0.0            1.0            4.0  ...            2.0
1                     3.0           45.0           61.0  ...           57.0
2                     0.0            0.0            1.0  ...            5.0
3                    33.0          235.0          263.0  ...          231.0
4                     5.0           45.0           69.0  ...           35.0
5                     0.0           15.0           19.0  ...           19.0
6                     1.0            6.0            6.0  ...            4.0
7                    27.0           61.0           60.0  ...           40.0
8                     0.0           34.0           26.0  ...           30.0
9                     3.0           10.0           10.0  ...           67.0
10                    0.0           15.0            7.0  ...            7.0
11                    0.0            7.0            7.0  ...            6.0
12                    6.0           20.0           26.0  ...            5.0
13                    2.0           13.0           13.0  ...           17.0
14                    0.0            1.0            3.0  ...            3.0
15                    2.0           20.0           25.0  ...           12.0
16                    4.0           50.0           34.0  ...           33.0
17                    0.0            7.0            7.0  ...            5.0
18                    0.0            3.0            5.0  ...            6.0
19                    0.0            7.0            2.0  ...            4.0
20                    7.0           81.0          115.0  ...           97.0
21                    2.0           66.0          129.0  ...          108.0
22                    4.0           16.0           36.0  ...           18.0
23                    0.0            2.0            4.0  ...            4.0
24                    1.0           13.0           13.0  ...           28.0
25                    3.0           10.0            5.0  ...           10.0
26                    0.0            6.0            6.0  ...           20.0
27                    2.0            9.0           11.0  ...           10.0
28                    0.0            4.0            7.0  ...            4.0
29                    8.0           89.0          138.0  ...          138.0
30                    3.0            8.0           11.0  ...            9.0
31                   16.0          158.0          152.0  ...          149.0
32                    0.0           45.0           58.0  ...           58.0
33                    0.0            2.0            6.0  ...            3.0
34                   23.0           86.0           87.0  ...           97.0
35                    0.0            9.0            5.0  ...            4.0
36                    6.0           38.0           41.0  ...           51.0
37                    0.0            1.0           13.0  ...            6.0
38                    0.0            3.0            7.0  ...            4.0
39                    1.0           17.0           11.0  ...           24.0
40                    0.0            4.0            6.0  ...            5.0
41                    1.0           16.0           42.0  ...           26.0
42                   18.0          103.0           98.0  ...          140.0
43                    0.0            2.0            6.0  ...            5.0
44                    1.0            9.0            2.0  ...            6.0
45                    3.0           41.0           52.0  ...           37.0
46                   17.0          112.0          141.0  ...          126.0
47                    1.0            9.0           10.0  ...            7.0
48                    6.0           12.0           16.0  ...           15.0
49                    0.0            1.0            1.0  ...            0.0

    (Population, sum)  WhitePct  BlackPct  AmerIndianOrAlaskaNativePct  \
0            329363.0      59.4       3.0                         15.2
1           4255437.0      60.4       4.7                          4.5
2            216411.0      70.2      15.1                          0.9
3          23578311.0      41.2       5.7                          1.6
4           3172893.0      70.7       4.1                          1.3
5           1625094.0      66.4      10.8                          0.4
6            159975.0      60.4      22.1                          0.5
7            705749.0      39.6      41.4                          0.5
8           4670834.0      57.7      15.1                          0.4
9            989301.0      51.9      31.0                          0.5
10           974902.0      22.9       1.6                          0.3
11           403144.0      82.1       0.9                          1.4
12          3642131.0      61.4      14.1                          0.8
13          1832868.0      77.2       9.6                          0.4
14           512467.0      84.5       4.1                          0.5
15           982857.0      75.6       5.7                          1.1
16          1767172.0      82.4       8.0                          0.3
17           642083.0      57.1      31.4                          0.7
18           216452.0      90.8       1.9                          0.6
19            96290.0      48.7      29.5                          0.5
20          3484110.0      69.6       7.0                          0.3
21          4393809.0      73.9      13.7                          0.6
22          1679638.0      77.5       7.0                          1.2
23            59230.0      56.0      36.6                          0.6
24          1540476.0      77.0      11.4                          0.5
25           391448.0      84.5       0.5                          6.2
26           981558.0      78.4       4.9                          1.2
27          2488738.0      51.2       9.8                          1.4
28           191971.0      88.3       1.5                          0.2
29          5819769.0      55.0      13.1                          0.6
30           735270.0      51.0       2.2                         10.0
31         10513645.0      55.2      14.8                          0.7
32          3667665.0      62.2      20.5                          1.2
33           262461.0      82.9       3.4                          5.0
34          4167091.0      77.0      12.5                          0.3
35          1263044.0      63.5       7.3                          8.4
36          2222853.0      74.8       2.0                          1.5
37          2149204.0      75.0      10.9                          0.2
38           504809.0      71.3       5.7                          0.7
39           509017.0      63.4      25.0                          0.5
40           333146.0      80.7       2.0                          8.8
41          2112065.0      72.2      15.8                          0.4
42         14061731.0      50.1      12.2                          1.0
43           822763.0      78.7       1.2                          1.3
44           177306.0      89.8       1.4                          0.4
45          1968970.0      60.3      18.6                          0.5
46          3654784.0      66.6       4.0                          1.6
47           124192.0      89.8       3.7                          0.2
48          1583358.0      80.4       6.4                          1.0
49            86016.0      84.7       0.9                          2.4

    AsianPct  NativeHawaiiOrOtherPacificIslePct  OtherRacePct  \
0        6.0                                1.7           2.5
1        3.6                                0.2          12.6
2        1.7                                0.5           4.5
3       15.4                                0.4          21.2
4        3.5                                0.2           8.0
5        4.8                                0.0           8.3
6        4.3                                0.0           4.9
7        4.9                                0.1           5.4
8        3.0                                0.1           7.3
9        4.5                                0.1           5.2
10      37.2                               10.8           1.8
11       1.5                                0.2           5.6
12       5.9                                0.0           8.9
13       2.5                                0.0           3.9
14       2.4                                0.2           2.8
15       2.9                                0.1           4.9
16       1.7                                1.7           2.1
17       1.9                                0.0           3.1
18       1.2                                0.0           0.7
19       6.8                                0.1           6.7
20       7.2                                0.0           7.1
21       3.3                                0.0           2.2
22       5.2                                0.1           3.0
23       1.1                                0.0           1.9
24       2.2                                0.2           2.1
25       0.8                                0.1           1.3
26       2.7                                0.1           5.4
27       8.8                                0.8          14.0
28       2.6                                0.0           1.7
29      10.2                                0.0          11.3
30       1.8                                0.1          15.0
31       9.6                                0.1          10.9
32       3.3                                0.1           5.9
33       1.7                                0.1           1.5
34       2.5                                0.0           1.9
35       2.3                                0.2           5.4
36       4.6                                0.5           6.3
37       3.9                                0.0           3.9
38       3.6                                0.0           9.4
39       1.8                                0.1           3.5
40       1.5                                0.1           1.7
41       2.0                                0.1           3.6
42       5.4                                0.1          13.6
43       2.5                                1.1           6.7
44       1.8                                0.0           0.8
45       7.1                                0.1           5.2
46       9.5                                0.8           6.7
47       0.8                                0.0           0.7
48       3.0                                0.0           3.1
49       0.9                                0.1           3.5

    TwoOrMoreRacePct  HispanicPct
0               12.2          6.8
1               13.9         30.7
2                7.1          8.5
3               14.6         39.4
4               12.3         21.9
5                9.2         17.3
6                7.7         10.5
7                8.1         11.3
8               16.5         26.5
9                6.9         10.5
10              25.3          9.5
11               8.3         13.0
12               8.9         18.2
13               6.4          8.2
14               5.6          6.8
15               9.5         13.0
16               5.4          4.6
17               5.9          6.9
18               4.7          2.0
19               7.8         11.8
20               8.7         12.6
21               6.3          5.6
22               6.1          6.1
23               3.7          3.6
24               6.7          4.9
25               6.6          4.2
26               7.3         12.0
27              14.0         28.7
28               5.6          4.3
29               9.7         21.6
30              19.9         47.7
31               8.7         19.5
32               6.8         10.7
33               5.4          4.3
34               5.8          4.4
35              12.8         11.9
36              10.5         13.9
37               6.0          8.1
38               9.3         16.6
39               5.8          6.9
40               5.3          4.4
41               6.0          6.9
42              17.6         39.3
43               8.5         15.1
44               5.8          2.4
45               8.2         10.5
46              10.9         13.7
47               4.7          1.9
48               6.1          7.6
49               7.5         10.2

[50 rows x 21 columns]

C:\Users\sayir\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [109]:
#Drop the excess State column
HC2019_USC2020 = HateCrime2019_USCensus2020.drop(['State'], axis=1)
print(HC2019_USC2020)

               (State, )  (Race, sum)  (Religion, sum)  \
0                 Alaska          7.0              0.0
1                Arizona        143.0             36.0
2               Arkansas          8.0              0.0
3             California        524.0            208.0
4               Colorado        117.0             36.0
5            Connecticut         48.0             16.0
6               Delaware         10.0              4.0
7   District of Columbia        119.0              8.0
8                Florida         48.0             36.0
9                Georgia         76.0              8.0
10                Hawaii         30.0              2.0
11                 Idaho         18.0              1.0
12              Illinois         34.0              9.0
13               Indiana         47.0             13.0
14                  Iowa          6.0              0.0
15                Kansas         36.0             25.0
16              Kentucky        114.0             12.0
17             Louisiana          9.0              8.0
18                 Maine         10.0              2.0
19              Maryland          7.0              4.0
20         Massachusetts        213.0            101.0
21              Michigan        313.0             51.0
22             Minnesota         59.0             20.0
23           Mississippi          6.0              1.0
24              Missouri         52.0             13.0
25               Montana         16.0              9.0
26              Nebraska         38.0              3.0
27                Nevada         27.0             10.0
28         New Hampshire          8.0              5.0
29            New Jersey        252.0            250.0
30            New Mexico         30.0              8.0
31              New York        164.0            357.0
32        North Carolina        132.0             42.0
33          North Dakota         14.0              1.0
34                  Ohio        216.0             30.0
35              Oklahoma         14.0              5.0
36                Oregon        116.0             29.0
37          Pennsylvania         28.0              9.0
38          Rhode Island          4.0              5.0
39        South Carolina         36.0             20.0
40          South Dakota         13.0              3.0
41             Tennessee         91.0             12.0
42                 Texas        300.0             44.0
43                  Utah         12.0              3.0
44               Vermont         18.0              4.0
45              Virginia        102.0             27.0
46            Washington        331.0             76.0
47         West Virginia         18.0              6.0
48             Wisconsin         39.0             18.0
49               Wyoming          4.0              0.0

    (SexualOrientation, sum)  (Disability, sum)  (Gender, sum)  \
0                        4.0                0.0            0.0
1                       30.0                3.0            2.0
2                        1.0                0.0            0.0
3                      235.0               10.0            7.0
4                       47.0                7.0            0.0
5                       11.0                0.0            1.0
6                        7.0                0.0            0.0
7                       65.0                1.0            2.0
8                       27.0                0.0            0.0
9                        6.0                4.0            3.0
10                       9.0                0.0            0.0
11                       4.0                1.0            0.0
12                      17.0                0.0            0.0
13                      14.0                0.0            0.0
14                       4.0                0.0            0.0
15                       7.0                3.0            1.0
16                      19.0                1.0            2.0
17                       7.0                2.0            0.0
18                       7.0                0.0            0.0
19                       7.0                1.0            0.0
20                      92.0                1.0            2.0
21                      44.0                9.0           15.0
22                      17.0                1.0            3.0
23                       1.0                6.0            0.0
24                      16.0                1.0            0.0
25                       2.0                1.0            1.0
26                       3.0                2.0            0.0
27                       4.0                1.0            0.0
28                       3.0                0.0            0.0
29                      65.0                1.0            5.0
30                       8.0                1.0            0.0
31                      73.0                1.0            0.0
32                      30.0                7.0            0.0
33                       3.0                0.0            0.0
34                      60.0               55.0            7.0
35                       8.0                1.0            0.0
36                      27.0                2.0            2.0
37                       4.0                0.0            0.0
38                       8.0                0.0            0.0
39                       7.0                1.0            3.0
40                       4.0                0.0            0.0
41                      10.0                1.0            2.0
42                      71.0               19.0            7.0
43                       3.0                0.0            0.0
44                       9.0                1.0            0.0
45                      27.0                3.0            1.0
46                     116.0                8.0            8.0
47                       3.0                2.0            1.0
48                       5.0                4.0            2.0
49                       1.0                0.0            0.0

    (GenderIdentity, sum)  (1stQtr, sum)  (2ndQtr, sum)  (3rdQtr, sum)  \
0                     0.0            1.0            4.0            4.0
1                     3.0           45.0           61.0           46.0
2                     0.0            0.0            1.0            3.0
3                    33.0          235.0          263.0          286.0
4                     5.0           45.0           69.0           61.0
5                     0.0           15.0           19.0           23.0
6                     1.0            6.0            6.0            6.0
7                    27.0           61.0           60.0           61.0
8                     0.0           34.0           26.0           21.0
9                     3.0           10.0           10.0           13.0
10                    0.0           15.0            7.0           12.0
11                    0.0            7.0            7.0            4.0
12                    6.0           20.0           26.0           14.0
13                    2.0           13.0           13.0           32.0
14                    0.0            1.0            3.0            3.0
15                    2.0           20.0           25.0           17.0
16                    4.0           50.0           34.0           29.0
17                    0.0            7.0            7.0            7.0
18                    0.0            3.0            5.0            5.0
19                    0.0            7.0            2.0            5.0
20                    7.0           81.0          115.0           95.0
21                    2.0           66.0          129.0          131.0
22                    4.0           16.0           36.0           34.0
23                    0.0            2.0            4.0            4.0
24                    1.0           13.0           13.0           29.0
25                    3.0           10.0            5.0            7.0
26                    0.0            6.0            6.0           14.0
27                    2.0            9.0           11.0           14.0
28                    0.0            4.0            7.0            1.0
29                    8.0           89.0          138.0          107.0
30                    3.0            8.0           11.0           22.0
31                   16.0          158.0          152.0          152.0
32                    0.0           45.0           58.0           49.0
33                    0.0            2.0            6.0            7.0
34                   23.0           86.0           87.0          121.0
35                    0.0            9.0            5.0           10.0
36                    6.0           38.0           41.0           45.0
37                    0.0            1.0           13.0           21.0
38                    0.0            3.0            7.0            3.0
39                    1.0           17.0           11.0           16.0
40                    0.0            4.0            6.0            5.0
41                    1.0           16.0           42.0           33.0
42                   18.0          103.0           98.0          115.0
43                    0.0            2.0            6.0            5.0
44                    1.0            9.0            2.0           16.0
45                    3.0           41.0           52.0           33.0
46                   17.0          112.0          141.0          163.0
47                    1.0            9.0           10.0            5.0
48                    6.0           12.0           16.0           31.0
49                    0.0            1.0            1.0            3.0

    (4thQtr, sum)  (Population, sum)  WhitePct  BlackPct  \
0             2.0           329363.0      59.4       3.0
1            57.0          4255437.0      60.4       4.7
2             5.0           216411.0      70.2      15.1
3           231.0         23578311.0      41.2       5.7
4            35.0          3172893.0      70.7       4.1
5            19.0          1625094.0      66.4      10.8
6             4.0           159975.0      60.4      22.1
7            40.0           705749.0      39.6      41.4
8            30.0          4670834.0      57.7      15.1
9            67.0           989301.0      51.9      31.0
10            7.0           974902.0      22.9       1.6
11            6.0           403144.0      82.1       0.9
12            5.0          3642131.0      61.4      14.1
13           17.0          1832868.0      77.2       9.6
14            3.0           512467.0      84.5       4.1
15           12.0           982857.0      75.6       5.7
16           33.0          1767172.0      82.4       8.0
17            5.0           642083.0      57.1      31.4
18            6.0           216452.0      90.8       1.9
19            4.0            96290.0      48.7      29.5
20           97.0          3484110.0      69.6       7.0
21          108.0          4393809.0      73.9      13.7
22           18.0          1679638.0      77.5       7.0
23            4.0            59230.0      56.0      36.6
24           28.0          1540476.0      77.0      11.4
25           10.0           391448.0      84.5       0.5
26           20.0           981558.0      78.4       4.9
27           10.0          2488738.0      51.2       9.8
28            4.0           191971.0      88.3       1.5
29          138.0          5819769.0      55.0      13.1
30            9.0           735270.0      51.0       2.2
31          149.0         10513645.0      55.2      14.8
32           58.0          3667665.0      62.2      20.5
33            3.0           262461.0      82.9       3.4
34           97.0          4167091.0      77.0      12.5
35            4.0          1263044.0      63.5       7.3
36           51.0          2222853.0      74.8       2.0
37            6.0          2149204.0      75.0      10.9
38            4.0           504809.0      71.3       5.7
39           24.0           509017.0      63.4      25.0
40            5.0           333146.0      80.7       2.0
41           26.0          2112065.0      72.2      15.8
42          140.0         14061731.0      50.1      12.2
43            5.0           822763.0      78.7       1.2
44            6.0           177306.0      89.8       1.4
45           37.0          1968970.0      60.3      18.6
46          126.0          3654784.0      66.6       4.0
47            7.0           124192.0      89.8       3.7
48           15.0          1583358.0      80.4       6.4
49            0.0            86016.0      84.7       0.9

    AmerIndianOrAlaskaNativePct  AsianPct  NativeHawaiiOrOtherPacificIslePct  \
0                          15.2       6.0                                1.7
1                           4.5       3.6                                0.2
2                           0.9       1.7                                0.5
3                           1.6      15.4                                0.4
4                           1.3       3.5                                0.2
5                           0.4       4.8                                0.0
6                           0.5       4.3                                0.0
7                           0.5       4.9                                0.1
8                           0.4       3.0                                0.1
9                           0.5       4.5                                0.1
10                          0.3      37.2                               10.8
11                          1.4       1.5                                0.2
12                          0.8       5.9                                0.0
13                          0.4       2.5                                0.0
14                          0.5       2.4                                0.2
15                          1.1       2.9                                0.1
16                          0.3       1.7                                1.7
17                          0.7       1.9                                0.0
18                          0.6       1.2                                0.0
19                          0.5       6.8                                0.1
20                          0.3       7.2                                0.0
21                          0.6       3.3                                0.0
22                          1.2       5.2                                0.1
23                          0.6       1.1                                0.0
24                          0.5       2.2                                0.2
25                          6.2       0.8                                0.1
26                          1.2       2.7                                0.1
27                          1.4       8.8                                0.8
28                          0.2       2.6                                0.0
29                          0.6      10.2                                0.0
30                         10.0       1.8                                0.1
31                          0.7       9.6                                0.1
32                          1.2       3.3                                0.1
33                          5.0       1.7                                0.1
34                          0.3       2.5                                0.0
35                          8.4       2.3                                0.2
36                          1.5       4.6                                0.5
37                          0.2       3.9                                0.0
38                          0.7       3.6                                0.0
39                          0.5       1.8                                0.1
40                          8.8       1.5                                0.1
41                          0.4       2.0                                0.1
42                          1.0       5.4                                0.1
43                          1.3       2.5                                1.1
44                          0.4       1.8                                0.0
45                          0.5       7.1                                0.1
46                          1.6       9.5                                0.8
47                          0.2       0.8                                0.0
48                          1.0       3.0                                0.0
49                          2.4       0.9                                0.1

    OtherRacePct  TwoOrMoreRacePct  HispanicPct
0            2.5              12.2          6.8
1           12.6              13.9         30.7
2            4.5               7.1          8.5
3           21.2              14.6         39.4
4            8.0              12.3         21.9
5            8.3               9.2         17.3
6            4.9               7.7         10.5
7            5.4               8.1         11.3
8            7.3              16.5         26.5
9            5.2               6.9         10.5
10           1.8              25.3          9.5
11           5.6               8.3         13.0
12           8.9               8.9         18.2
13           3.9               6.4          8.2
14           2.8               5.6          6.8
15           4.9               9.5         13.0
16           2.1               5.4          4.6
17           3.1               5.9          6.9
18           0.7               4.7          2.0
19           6.7               7.8         11.8
20           7.1               8.7         12.6
21           2.2               6.3          5.6
22           3.0               6.1          6.1
23           1.9               3.7          3.6
24           2.1               6.7          4.9
25           1.3               6.6          4.2
26           5.4               7.3         12.0
27          14.0              14.0         28.7
28           1.7               5.6          4.3
29          11.3               9.7         21.6
30          15.0              19.9         47.7
31          10.9               8.7         19.5
32           5.9               6.8         10.7
33           1.5               5.4          4.3
34           1.9               5.8          4.4
35           5.4              12.8         11.9
36           6.3              10.5         13.9
37           3.9               6.0          8.1
38           9.4               9.3         16.6
39           3.5               5.8          6.9
40           1.7               5.3          4.4
41           3.6               6.0          6.9
42          13.6              17.6         39.3
43           6.7               8.5         15.1
44           0.8               5.8          2.4
45           5.2               8.2         10.5
46           6.7              10.9         13.7
47           0.7               4.7          1.9
48           3.1               6.1          7.6
49           3.5               7.5         10.2

In [110]:
#Now that Data Wrangling is completed, will export dataframe to GitHub
HC2019_USC2020.to_csv(r'Data Files/HC2019_USC2020.csv')

In [ ]:
#Called in Demographics dataset
USCensus2020 = pd.read_csv("Data Files/2020 US Census - State Racial Demographics.csv")
USCensus2020.head()

In [ ]:
#Cleaned up headers (removed spaces and symbols, and simplified/clarified)
USCensus2020.rename(columns={'% White' : 'WhitePct', '% Black' : 'BlackPct', '% American Indian and Alaska Native' : 
                             'AmerIndianOrAlaskaNativePct', '% Asian' : 'AsianPct', 
                             '% Native Hawaiian and Other Pacific Islander' : 'NativeHawaiiOrOtherPacificIslePct', 
                             '% Other Race' : 'OtherRacePct', '% Two or More Races' : 'TwoOrMoreRacePct', '% Hispanic' : 
                             'HispanicPct'}, inplace=True)

In [ ]:
#Exploratory Analyses
#Which of variables are highly related to each other? Correlation Matrix
#Descriptive Stats - mean of the data, histograms for continuous variables, frequencies and box plots for categorical variables
#Tableau - some quick graphs
#Rather than demographic percentages, could use population sums to get number of people of each race

In [ ]:
#Data Analysis